<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ZeroWaste</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="vesion.css" />

</head>
<body>
    <header>
      <!-- <div class="bg-warning py-2"> 
       ZeroWaste
      </div> -->
      
      <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
            <a class="navbar-brand" href="#">ZeroWaste</a>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
            <span class="navbar-toggler-icon "></span>
          </button>
        <div class="collapse navbar-collapse" id="main_nav">
          
          <ul class="navbar-nav ms-auto">
              <form class="form-inline">
                  <a href="/login" class="btn btn-outline-info my-2 mx-3 my-sm-0 rounded-0" type="submit">login</a>
                  <a href="/" class="btn btn-outline-primary my-2 my-sm-0 rounded-0" type="submit">Donation Service</a>
                </form>
              <!-- <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li> -->
          </ul>
        </div> <!-- navbar-collapse.// -->
       </div> <!-- container-fluid.// -->
      </nav>
      </header>

      <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto">
          <h1 class="display-5 fw-normal">About Us</h1>
        </div>
        <br /><br /><br />
        <div class="row">
          <div class="col-lg-6">
            <img src="../img/Adnan.jpg" alt="" class="rounded-circle" />
            <h2 class="fw-normal">Adnan Ahmed Ibrahim</h2>
            <p>
              Some representative placeholder content for the three columns of
              text below the carousel. This is the first column. Some
              representative placeholder content for the three columns of text
              below the carousel. This is the first column. Some representative
              placeholder content for the three columns of text below the
              carousel. This is the first column.
            </p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <img src="../img/Adnan2.jpg" alt="" class="rounded-circle" />
            <h2 class="fw-normal">Adnan Ahmed Abdu</h2>
            <p>
              Another exciting bit of representative placeholder content. This
              time, we've moved on to the second column. Another exciting bit of
              representative placeholder content. This time, we've moved on to the
              second column. Another exciting bit of representative placeholder
              content. This time, we've moved on to the second column.
            </p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      <hr class="featurette-divider" />

      </div>

      
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="/" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>

       
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <!-- <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address" /> -->
              <button class="btn btn-primary" type="button">Contact us</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-2 border-top">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" />
              </svg></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram" />
              </svg></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" />
              </svg></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>

</body>
</html>