
.containerr{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(img/banner3.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.landing-text{
    font-family: 'Poppins', sans-serif;
}
.links {
    margin-top: 40px;
    padding: 10px 0;
}
.button {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    border-radius: 0.2rem;
    border: 2px solid rgb(182, 182, 182);
    padding: 15px 40px;
    margin: 0 10px;
    color: rgb(212, 212, 212);;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    color: white;
    border: 2px solid white;
}
.why-work-with-us-svg{
    margin-left: 5px;
}